.features {
    background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);

}
.cta{
    background-color: #E5F0FD;;
}
body::-webkit-scrollbar {
    display: none;
  }